html {
    --primary-col: #2c3141;
    --primary-vari: #8f93a5;
	--secondary-col: #FFCA73;
	--secondary-vari: #FFE0AA;
	--accent-col: #FFA92C;
	--accent-col2: #99a7ff;
	--text-icon-col: #f5f5f5;
    /*----*/
    --pad-and-gap: 1em;
	  box-sizing: border-box;
    background-color: var(--primary-col);
    color: var(--secondary-vari);
    --Gill: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --Monserrat: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
#home {
  margin: 0px;
  padding: 0;
  font-family: var(--Gill);
  perspective: 2px;
  overflow-x: hidden;
  width: 100vw;
}
.pbr {
  margin: 0 0 1vh;
}
.grid {
  display: grid;
}
/* PHONE VIEWPORT */
/*HEADER STYLES*/
Header {
  position: sticky;
  top: 0px;
  background-color: var(--primary-col);
  perspective: 2px;
  z-index: 1;
  margin: auto 0px;;
  list-style-type: none;
}
Header .logo {
  display: inline-block;
  vertical-align: middle;
}
#ham {
  display: block;
  height: fit-content;
  overflow: auto;
  margin: auto;
  position: absolute;
  left: auto; top: 4.5vh; right: 14px;

  }
header a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: var(--Gill);
    display: block;
    
  }

  header #hamLinks {
      display: none;
      text-align: center;
  }

header img {
    height: 10vh;
}
#servDropContent {
    display: none;
}
#servDropContent a {
  color: #FFCA73;
}
#servDropdown button {
    background-color: #00000000;
    border: none;
    color: var(--secondary-vari);
    padding: 14px 16px;
    font-size: 18px;
}
/* END HEADER STYLES */

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/wallpaper.svg');
  background-size: 250vw 250vh;
  background-position:center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
#hero div {
  display: inline-block;
  padding-top: 8vh;
}
#hero h1 {
  color: var(--text-icon-col);
  font-family: var(--Monserrat);
  font-weight: 300;
  font-size: 6vh;
  margin: 0;
}
#hero h2 {
  font-size: 4vh;
  color: var(--secondary-vari);
}
/* END HERO */

.summaryBox {
  background-color: var(--secondary-col);
  
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2em;
}
.summaryBox h1 {
  font-family: var(--Monserrat);
  font-weight: 600;
  font-size: 6vw;
  padding: 1vh;
  margin: 0;
  color: var(--primary-col);
}
.summaryBox p {
  color: var(--primary-col);
  margin: 1vh 5vw;
  line-height: 1.4;
}

/* END SUMMARYBOX */
.serviceGrid {
  padding: 2vh 0;
}

.gridBox {
  background-color: var(--secondary-vari);
  margin: 3vw;
  box-shadow: 1vw 1vh 1em black;
  color: var(--primary-col);
  z-index: -1;
}
.serviceGrid div {
  color: var(--primary-col);
  padding: 1em;
}
.serviceGrid h3 {
  margin-top: 0%;
  text-align: center;
}

/* END SERVICES GRID */

footer {
  padding: 1em 1em;
  font-family: var(--Monserrat);
  font-weight: 400;
  color: var(--primary-col);
  background-color: var(--accent-col2);
  grid-template-columns: 1fr 1fr;
}
footer :first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
footer a {
  color: white;
}
footer ul{
  list-style-type: none;
}

/* END FOOTER STYLES */
#about {
  margin: 0;
  padding: 0;
  z-index: 0;
  top: 0%;
  font-family: var(--Monserrat);
  color: var(--primary-col);
  /* overflow-x: hidden; */
  max-width: 100%;
  box-sizing: border-box;
}

.me {
  grid-template-columns: 1fr;
  width: 100vw;
  text-align: center;
  background-color: var(--secondary-vari);
}
.me h1 {
  color: var(--primary-col);
  font-family: var(--Gill);
  font-style: italic;
  font-size: 10vw;
  margin-bottom: 0;
}
.me img {
  width: 70vw;
  margin: 2vh auto;
}
.me p {
  text-align: left;
  margin: 2vh;
}
/* END ABOUT */

#error404 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/wallpaper.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: absolute;
  top: 0%;
  width: 100vw;
  z-index: -1;
  box-sizing: border-box;
}
#error404 Footer {
  position: absolute;
  bottom: 0%;
}
#errTab {
  background-color: var(--accent-col);
  position: absolute;
  width: 80vw;
  top: 30%;
  left: 8%;
  padding: 2vw;
}
#errTab h2, h3 {
  color: var(--primary-col);
  margin: 0;
}

/* END ERROR PAGE */

#webHero {
  height: 40vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(/src/img/deskhero-pexels-pixabay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  text-align: center;
}
#webHero h1 {
  font-family: var(--Gill);
  margin: 0 auto;
  padding-top: 15vh;
  color: var(--primary-col);
  font-size: 2em;
}
#WebServices .summaryBox {
  color: #2c3141;
  font-family: var(--Gill);
  padding: 5vw;
}
.summaryBox ul {
  font-family: var(--Monserrat);
  padding: 0px 30px;
}
.summaryBox li {
  padding-top: 1vh;
}
.summaryBox h2 {
  margin-top: 0;
}
.processBox {
  font-family: var(--Gill);
  padding: 5vw;
  padding-bottom: 0px;
}
.processBox ol {
  font-family: var(--Monserrat);
  padding: 0px 30px;
}
.processBox h3 {
  color: var(--secondary-col);
}
#wireProtoImg {
  width: 100%;
  margin-bottom: 1em;
}

/* END WEBSERV PAGE  */
#contactForm{
  width: 90vw;
  padding: 3vh 5vw;
  background-color: var(--primary-vari);
}
#contactForm h1, #contactForm h2, #contactForm h3{
  color: var(--primary-col);
  margin: 0px;
  font-family: var(--Monserrat);
}
#contactForm input {
  margin-bottom: 1em;
}
#contactForm label {
  display: block;
}
#contactForm p {
  font-family: var(--Gill);
}
textarea {
  width: 100%;
  resize: none;
}
label {
  font-family: var(--Monserrat);
}

/* END CONTACT */
#callToAct {
  background-color: #FFE0AA;
  color: #2c3141;
  padding: 5vw;
  margin: 3vw;
  text-align: center;
  font-family: var(--Gill);
  box-shadow: 1vw 1vh 1em black;
}
#callToAct button {
  padding: 4vw;
  font-size: 1em;
  border: none;
  background-color: var(--accent-col);
  color: #2c3141;
  font-weight: 600;
}
#callToAct button:hover {
  background-color: #f1f1f1;
}
#callToAct h2 {
  margin-top: 0px;
}

#graphhero {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/tablet.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  text-align: center;
}
#graphhero h1 {
  font-family: var(--Gill);
  margin: 0 auto;
  padding-top: 15vh;
  color: var(--text-icon-col);
  font-size: 2em;
}
#graphicdes .summaryBox {
  color: #2c3141;
  font-family: var(--Gill);
  padding: 5vw;
  margin: 3vh;
}
#graphicdes h2 {
  font-family: var(--Gill);
  margin: 0px 5vw;
}
 .graphport{
   display: grid;
   grid-template-columns: 1fr;
 }
 .row {
   display: flex;
   flex-direction: column;
 }
.hoverImg {
  margin: 1vw 2vw;
}
.hoverImg img {
  width: 100%;
}
.descHover {
  margin-top: 0%;
  display: none;
}
  @media (min-width: 640px){
 
    #hero{
    background-size: 200vw 200vh;
    background-position: 65% 75%;
    }
   }
     
    @media (min-width: 768px){
     
      #hero{
        background-size: 250vw 250vh;
        background-position: 60% 75%;
        }
        #hero h2 {
          font-size: 6vh;
          margin-top: 1vh;
        }
        .summaryBox h1{
          font-size: 5vh;
          margin-left: 8vw;
        }
        .serviceGrid {
          grid-template-columns: 1fr 1fr;
          margin: 0px 20vw;
        }
        .gridBox {
          margin: 1vw;
        }
        #customWebsites {
          grid-column-start: 1;
          grid-column-end: 3;
          text-align: center;
        }
        #customWebsites img {
          width: 50%;
        }
        /* ABOUT */

        .me {
          grid-template-columns: 1fr 1fr;
        }
        .me h1 {
          font-size: 5vw
        }
        .me img {
          width: 30vw;
        }
        .me div{
          padding: 10vh 0;
        }
        /* WEB */
        .processBox{
          display: grid;
          grid-template-columns: 70% 1fr;
          max-width: 1236px;
        }
     
    }
     
    @media (min-width: 1024px){
     
      #hero{
        background-size: 270vw 270vh;
        background-position: 55% 75%;
        }

        Header {
          display: grid;
          grid-template-columns: 10% auto 80vw;
          list-style-type: none;
          width: 100vw;
          height: fit-content;
          text-align: end;
        }
        header div {
          display: inline;
        }
        Header .logo {
          margin-left: 5vw;
        }
        #ham {
          display: none;
          }
        #headerp2 {
          display: inline;
        }
        header #hamLinks {
          display: inline-flex;
          margin-right: 7vw
        }
        #servDropContent {
          display: inline-flex;
        }
        header button {
          display: none;
        }
        #hamLinks a {
          color: var(--text-icon-col);
          font-size: 20px;
          margin: 3.75vh 19px;
        }
     
    }
     
    @media (min-width: 1200px){
     
      /* WEB */
      .processBox{
        display: grid;
        grid-template-columns: 70% 1fr;
        max-width: 1236px;
        margin: 6vh auto;
      }
     
    }